<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>58189084231-tukhkniqvktp23mhs5pbdf04tot28ld0.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.58189084231-tukhkniqvktp23mhs5pbdf04tot28ld0</string>
	<key>API_KEY</key>
	<string>AIzaSyBPK5zN_lSRucLL7EtTQpw2n0GygHqJlJs</string>
	<key>GCM_SENDER_ID</key>
	<string>58189084231</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.plai.plai</string>
	<key>PROJECT_ID</key>
	<string>ga-bot-9f42b</string>
	<key>STORAGE_BUCKET</key>
	<string>ga-bot-9f42b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:58189084231:ios:2e7949f50428bdb6</string>
	<key>DATABASE_URL</key>
	<string>https://ga-bot-9f42b.firebaseio.com</string>
</dict>
</plist>